# .env.example

# Application data
APP_NAME=Docxtor        # Name of the app
APP_VERSION=0.0.1       # Version of the app
DEBUG=false             # Enable debug mode
HOST=localhost          # Host for the server
PORT=8000               # Port for the server
ALLOWED_ORIGINS=[*]     # Allowed origins for CORS

# Database settings
DATABASE_URL=""         # driver://user:password@service:port/database_name
# Database settings for DB container
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=mydb

# JWT
SECRET_KEY = ""                     # key used for JWT

# Authentication
ACCESS_TOKEN_EXPIRE_MINUTES = 30    # 
REFRESH_TOKEN_EXPIRE_DAYS = 7       #

# Embedding
VOYAGE_API_KEY=""